

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div class="container">
    <br>
                    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <input type=button class="btn btn-info col-xl-2" value="Volver Atrás" onClick="javascript:history.go(-1);">
                        <hr>
                        <h2>Estadisticas usuario: {{usuario.username}} | {{ usuario.email }}.</h2>
                        <hr>
                        <div class="card col-xl-4">
                            <div class="card-body ">
                                <h5>Tareas Asignadas a este usuario: {{can_tareas_usuario}} </h5>
                                <hr>
                                <h5>Tareas Realizadas: {{can_tareas_realizadas}} </h5>
                                <hr>
                                <h5>Tareas No realizadas: {{can_tareas_no_realizadas}} </h5>
                            </div>
                        </div>
                        
                        <div class="card col-xl-4">
                            <div class="card-body">
                                <div id="containerGrafico"></div>
                            </div>
                        </div>
                        
                        <div class="card col-xl-4">
                             <div class="card-body">
                                <div id="containerGrafico2"></div>
                            </div>
                        </div>
                        <div class="card col-xl-6">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <h5>Tareas asignadas sin realizar.</h6>
                                        <hr>
                                    <table class="table table-striped table-hover table-responsive-sm">
                                        <tr>
                                            <th>Nombre </th>
                                            <th>Realizado</th>
                                            <th>Encargado</th>
                                            <th>Semáforo</th>
                                            <th></th>
                                        </tr>
                                        {% for p in tareas_no_realizada %}
                                            <tr>
                                                <td>{{ p.1 | title }}</td>
                                                <td>
                                                    {% if p.2 == 1 %}
                                                    Si
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                        
                                                </td>
                                                <td>
                                                    {{ p.4 }}
                                                </td>
                                                <td>
                                                    {% if p.6 == 'v' %}
                                                    <input id="semaforoVerde" class="dot verde" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">
                                                    {% elif p.6 == 'a' %}
                                                        <input id="semaforoAmarillo" class="dot amarillo" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">    
                                                    {% elif p.6 == 'r' %}
                                                        <input id="semaforoRojo" class="dot rojo" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">    
                                                    {% endif %}   
                                                </td>
                                                <td>
                                                    <a href="{% url 'modificar_tarea' p.0%}" class="btn btn-primary">Abrir</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card col-xl-6">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <h5>Tareas asignadas realizadas.</h6>
                                        <hr>
                                    <table class="table table-striped table-hover table-responsive-sm">
                                        <tr>
                                            <th>Nombre </th>
                                            <th>Realizado</th>
                                            <th>Encargado</th>
                                            <th>Fecha realización</th>
                                            <th></th>
                                        </tr>
                                        {% for p in tareas_realizada %}
                                            <tr>
                                                <td>{{ p.1 | title }}</td>
                                                <td>
                                                    {% if p.2 == 1 %}
                                                    Si
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                        
                                                </td>
                                                <td>
                                                    {{ p.4 }}
                                                </td>
                                                <td>
                                                    {{ p.7|date:"M d, Y" }} 
                                                </td>
                                                <td>
                                                    <a href="{% url 'modificar_tarea' p.0%}" class="btn btn-primary">Abrir</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

