

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

<div class="container">
    <br>
                    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <input type=button class="btn btn-info col-xl-2" value="Volver Atrás" onClick="javascript:history.go(-1);">
                        &nbsp;
                        <a class="btn btn-success col-xl-2" href="{% url 'reporte_estadistica_departamento' departamento.id %}">Imprimir Reporte</a>
                        <hr>
                        <h2>Estadisticas departamento {{departamento.nombre}}.</h2>
                        <hr>
                        <div class="card col-xl-12">
                            <div class="card-body ">
                                <h5>Tareas Asignadas a este departamento: {{can_tareas_depto}} </h5>
                                <hr>
                                <h5>Tareas Realizadas: {{can_tareas_realizadas}} </h5>
                                <hr>
                                <h5>Tareas No realizadas: {{can_tareas_no_realizadas}} </h5>
                            </div>
                        </div>
                        
                        <div class="card col-xl-6">
                            <div class="card-body">
                                <img id="chart" class="col-xl-4" style="width: 100%; height: auto;"/>
                            </div>
                        </div>
                        
                        <div class="card col-xl-6">
                             <div class="card-body">
                                <img id="chart2" style="width: 100%; height: auto;"/>
                            </div>
                        </div>
                        <div class="card col-xl-6">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <h5>Tareas asignadas</h6>
                                        <hr>
                                    <table class="table table-striped table-hover table-responsive-sm">
                                        <tr>
                                            <th>Nombre </th>
                                            <th>Realizado</th>
                                            <th>Encargado</th>
                                            <th>Semáforo</th>
                                            <th></th>
                                        </tr>
                                        {% for p in tareas_departamento %}
                                            <tr>
                                                <td>{{ p.1 | title }}</td>
                                                <td>
                                                    {% if p.3 == 1 %}
                                                    Si
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                        
                                                </td>
                                                <td>
                                                    {{ p.8 }}
                                                </td>
                                                <td>
                                                    {% if p.9 == 'v' %}
                                                    <input id="semaforoVerde" class="dot verde" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">
                                                    {% elif p.9 == 'a' %}
                                                        <input id="semaforoAmarillo" class="dot amarillo" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">    
                                                    {% elif p.9 == 'r' %}
                                                        <input id="semaforoRojo" class="dot rojo" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">    
                                                    {% endif %}   
                                                </td>
                                                <td>
                                                    <a href="{% url 'modificar_tarea' p.0%}" class="btn btn-primary">Abrir</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card col-xl-6">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <h5>Usuarios asignados</h6>
                                        <hr>
                                    <table class="table table-striped table-hover table-responsive-sm">
                                        <tr>
                                            <th>Nombre </th>
                                            <th>Email</th>
                                            <th>Grupo</th>
                                            <th></th>
                                        </tr>
                                        {% for u in usuarios_departamento %}
                                            <tr>
                                                <td>{{ u.1 | title }}</td>
                                                <td>
                                                    {{ u.2 }}
                                        
                                                </td>
                                                <td>
                                                    {{ u.4 }}
                                                </td>
                                                <!-- <td>{{ p.fechaCreacion | title }}</td> -->
                                                <td>
                                                    <a href="{% url 'modificar_usuario_admin' u.0%}" class="btn btn-primary">Abrir</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<script type="application/javascript">
    var options = {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Gráfico de tareas realizadas/no realizadas.'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Tareas Realizadas',
                y: {{ porcentajes.0 }}
            }, {
                name: 'Tareas sin realizar',
                y: {{ porcentajes.1 }}
            }]
        }]
    };


    // URL to Highcharts export server
    var exportUrl = 'https://export.highcharts.com/';

    // POST parameter for Highcharts export server
    var object = {
        options: JSON.stringify(options),
        type: 'image/png',
        async: true
    };

    // Ajax request
    $.ajax({
        type: 'post',
        url: exportUrl,
        data: object,
        success: function (data) {
            // Update "src" attribute with received image URL
            $('#chart').attr('src', exportUrl + data);
        }
    });
</script>

<script type="application/javascript">
    var options = {
        colors: ['#c11111 ', ' #fcff41', '#4fe158'],
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Estado de tareas por realizar.'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Tareas en rojo',
                y: {{ porcentaje_estado_tareas.0 }}
            }, {
                name: 'Tareas en amarillo',
                y: {{ porcentaje_estado_tareas.1 }}
            },{
                name: 'Tareas en verde',
                y: {{ porcentaje_estado_tareas.2 }}
            }]
        }]
    };


    // URL to Highcharts export server
    var exportUrl = 'https://export.highcharts.com/';

    // POST parameter for Highcharts export server
    var object = {
        options: JSON.stringify(options),
        type: 'image/png',
        async: true
    };

    // Ajax request
    $.ajax({
        type: 'post',
        url: exportUrl,
        data: object,
        success: function (data) {
            // Update "src" attribute with received image URL
            $('#chart2').attr('src', exportUrl + data);
        }
    });
</script>

