{% extends 'process/base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <br>
                    <br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    
                    <h2>Modificar un flujo de tarea.</h2>
                    <hr>
                    <form action="" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="row justify-content-between" >
                            <div class="file-modificar col-xl-6 col-md-6 ">
                                <a href="{% url 'listar_flujo_tareas'%}" class="btn btn-secondary">Cancelar</a>
                            
                            </div>
                            <div class="file-modificar col-xl-6 col-md-6 ">
                                {% if perms.process.change_flujotarea %}
                                <input type="submit" value="Editar" class="btn btn-primary" name="editar">
                                {% endif %}
                            
                            </div>
                            <div class="file-modificar col-xl-6 col-md-6 ">
                                <input type="submit" value="Ejecutar" class="btn btn-success" name="ejecutar">
                            
                            </div>
                        </div>
                        

                    </form>
                    {{mensaje}}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}