{% extends 'process/base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <br>
                    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h2>Estadisticas departamento {{departamento.nombre}}.</h2>
                        <hr>
                        <!-- <form action="" method="POST" enctype="multipart/form-data">
    
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'listar_flujo_tareas'%}" class="btn btn-secondary">Cancelar</a>
                                &nbsp;
                                {% if perms.process.change_flujotarea %}
                                <input type="submit" value="Editar" class="btn btn-primary">
                                {% endif %}
                            </div>
    
                        </form> -->
                        <div class="card col-xl-4 m-1">
                            <div class="card-body ">
                                <h5>Tareas Asignadas a este departamento: {{can_tareas_depto}} </h5>
                                <hr>
                                <h5>Tareas Realizadas: {{can_tareas_realizadas}} </h5>
                                <hr>
                                <h5>Tareas No realizadas: {{can_tareas_no_realizadas}} </h5>
                            </div>
                        </div>
                        
                        <div class="card col-xl-5 m-1">
                            <div class="card-body">
                                <h1>hola</h1>
                            </div>
                        </div>
                        
                        <div class="card col-xl-2 m-1">
                             <div class="card-body">
                                <h1>hola</h1>
                            </div>
                        </div>
                        <div class="card col-xl-6">
                            <div class="card-body">
                                <div class="table-responsive">
                
                                    <table class="table table-striped table-hover table-responsive-sm">
                                        <tr>
                                            <th>Nombre </th>
                                            <th>Realizado</th>
                                            <th>Encargado</th>
                                            <th>Semáforo</th>
                                            <th></th>
                                        </tr>
                                        {% for p in tareas_departamento %}
                                            <tr>
                                                <td>{{ p.1 | title }}</td>
                                                <td>
                                                    {% if p.3 == 1 %}
                                                    Si
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                        
                                                </td>
                                                <td>
                                                    {{ p.8 }}
                                                </td>
                                                <!-- <td>{{ p.fechaCreacion | title }}</td> -->
                                                <td>
                                                    <a href="{% url 'modificar_tarea' p.0%}" class="btn btn-primary">Abrir</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card col-xl-6">
                            <div class="card-body">
                                <div class="table-responsive">
                
                                    <table class="table table-striped table-hover table-responsive-sm">
                                        <tr>
                                            <th>Nombre </th>
                                            <th>Email</th>
                                            <th>Grupo</th>
                                            <th></th>
                                        </tr>
                                        {% for u in usuarios_departamento %}
                                            <tr>
                                                <td>{{ u.1 | title }}</td>
                                                <td>
                                                    {{ u.2 }}
                                        
                                                </td>
                                                <td>
                                                    {{ u.4 }}
                                                </td>
                                                <!-- <td>{{ p.fechaCreacion | title }}</td> -->
                                                <td>
                                                    <a href="{% url 'modificar_usuario_admin' u.0%}" class="btn btn-primary">Abrir</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}