{% extends 'process/base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <br>
                    <br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    
                    <h2>Agregar una tarea.</h2>
                    <hr>
                    <form action="" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="row justify-content-end">
                            <div class="col-12 col-md-6 offset-md-3r">
                                <input type="reset" value="Cancelar" class="btn btn-secondary">
                                &nbsp;
                                <input type="submit" value="Guardar" class="btn btn-primary">
                                &nbsp;
                            </div>
                        </div>
                       

                    </form>
                    {{mensaje}}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}