{% extends 'process/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="contenedorTablaTarea container col-12 col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <h2>Listado de tareas.</h2>
            <hr>
            <div class="card-body">
                <h3>Filtros</h3>
                <div class="row align-items-start">
                    <div class="col-xl-4 col-md-12 col-sm-12 justify-content-center">
                        {% if request.user.is_superuser or perms.process.add_tarea or perms.process.change_tarea%}
                        <form action="" class="filtroSemaforo" method="POST">
                            <h4>Usuario</h2>
                            {% csrf_token %}
                            <select class="btn btn-secondary" name="filtro_usuario" id="usuario_filtro">
                                {% for u in usuarios %}
                                <option value="{{u.id}}">{{u.username}}</option>
                                {% endfor %}
                            </select>
                            
                            <input class="btn btn-primary" type="submit" name="filtroUsuario" value="Filtrar">
                        </form>
                        {% endif %}
                    </div>
                    <div class="col-xl-4 co-md-12 col-sm-12 justify-content-center">
                        <form action="" class="filtroSemaforo" method="POST">
                            <h4>Color Semáforo</h2>
                            {% csrf_token %}
                            <select class="btn btn-secondary" name="filtroEstadoSemaforo" id="estado_semaforo">
                                <option value="r">Rojo</option>
                                <option value="a">Amarillo</option>
                                <option value="v">Verde</option>
                            </select>
                            
                            <input class="btn btn-primary" type="submit" name="filtroSemaforo" value="Filtrar">
                        </form>
                    </div>
                    <div class="col-xl-4 col-md-12 col-sm-12 justify-content-center">
                        {% if request.user.is_superuser or perms.process.add_tarea or perms.process.change_tarea %}
                        <form action="" class="filtroSemaforo" method="POST">
                            <h4>Departamentos</h2>
                            {% csrf_token %}
                            <select class="btn btn-secondary" name="filtro_grupo" id="grupo_filtro">
                                {% for g in departamento_combo %}
                                <option value="{{g.id}}">{{g.nombre}}</option>
                                {% endfor %}
                            </select>
                            
                            <input class="btn btn-primary" type="submit" name="filtroGrupo" value="Filtrar">
                        </form>
                        {% endif %}
                    </div>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-secondary" type="submit" name="limpiarFiltro" value="Limpiar Filtros">
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-responsive-sm">
                    <tr class="table-dark">
                        <th>Id </th>
                        <th>Nombre </th>
                        <th>Realizado</th>
                        {% if request.user.is_superuser %}
                            <th>Asignada</th>
                        {% endif %}
                        <th>Encargado</th>
                        <th>Tarea Padre</th>
                        <th>Semáforo</th>
                        <th></th>
                    </tr>
                    {% for p in tareas %}
                        <tr>
                            <td>{{ p.id }}</td>
                            <td>{{ p.nombre | title }}</td>
                            <td>
                                {% if p.realizado %}
                                Si
                                {% else %}
                                No
                                {% endif %}
                    
                            </td>
                            {% if request.user.is_superuser %}
                                <td>
                                    {% if p.usuario == None %}
                                    No
                                    {% else %}
                                    Si
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>
                                {{ p.usuario }}
                            </td>
                            <td>
                                {% if p.tarea_parent != None %}
                                    {{p.tarea_parent}}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% for c in calculos %}
                                    {% if c.tarea == p %}
                                        {% for s in semaforos %}
                                            {% if s.calculoEstado == c %}
                                                {% if s.estadoSemaforo == 'v' %}
                                                    <input id="semaforoVerde" class="dot verde" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">
                                                {% elif s.estadoSemaforo == 'a' %}
                                                    <input id="semaforoAmarillo" class="dot amarillo" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">    
                                                {% elif s.estadoSemaforo == 'r' %}
                                                    <input id="semaforoRojo" class="dot rojo" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">    
                                                {% endif %}   
                                            {% endif %}
                                        {% endfor %}                                   
                                    {% endif %}
                                {% endfor %}
                            </td>                            
                            <td>
                                <a href="{% url 'modificar_tarea' p.id%}" class="btn btn-primary">Abrir</a>
                            </td>
                        </tr>
                        {% for t in tareas_subordinadas %}
                            {% if t.tarea_parent ==  p %}
                                <tr class="table-success">
                                    <td>{{ t.id }}</td>
                                    <td>{{ t.nombre | title }}</td>
                                    <td>
                                        {% if t.realizado %}
                                        Si
                                        {% else %}
                                        No
                                        {% endif %}
                            
                                    </td>
                                    {% if request.user.is_superuser %}
                                        <td>
                                            {% if t.usuario == None %}
                                            No
                                            {% else %}
                                            Si
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {{ t.usuario }}
                                    </td>
                                    <td>
                                        {{t.tarea_parent}}
                                    </td>
                                    <td>
                                        {% for c in calculos %}
                                        
                                            {% if c.tarea == t %}
                                                {% for s in semaforos %}
                                                    {% if s.calculoEstado == c %}
                                                        {% if s.estadoSemaforo == 'v' %}
                                                            <input id="semaforoVerde" class="dot verde" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">
                                                        {% elif s.estadoSemaforo == 'a' %}
                                                            <input id="semaforoAmarillo" class="dot amarillo" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">    
                                                        {% elif s.estadoSemaforo == 'r' %}
                                                            <input id="semaforoRojo" class="dot rojo" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" name="verAvance" id="">    
                                                        {% endif %}   
                                                    {% endif %}
                                                {% endfor %}     
                                            {% endif %}
                                        {% endfor %}
                                    </td>                            
                                    <td>
                                        <a href="{% url 'modificar_tarea' t.id%}" class="btn btn-primary">Abrir</a>
                                    </td>
                                </tr>
                            {% endif %}
                    {% endfor %}
                    {% endfor %}
                </table>
            </div>
            
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Gestión solicitud tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                </div>
                
            </div>
        </div>
    </div>
    
</div>
{% endblock %}