{% extends 'process/base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <br>
                    <br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    
                    <h2>Revisar una tarea Completada.</h2>
                    <hr>
                    <form action="" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-flex justify-content-center">
                            {% if perms.process.change_tarea %}
                            <input type="submit" value="Atras" class="btn btn-primary">
                            {% endif %}
                        </div>

                    </form>
                    {{mensaje}}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}