{% extends 'process/base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        <main role="main" class="container inicio">
            <div class="jumbotron">
              <h1 class="text-light">Bienvenido a Process, tu sistema de gestión de tareas.</h1>
              <p class="lead text-light">Para empezar a trabajar haz click abajo y te llevaremos directamente a tus tareas.</p>
              <a class="btn btn-lg btn-primary" href="{% url 'listar_tareas' %}" role="button">Lleváme a mis tareas.</a>
              
            </div>
        </main>
    </div>
</div>



{% endblock %}
