{% extends 'process/base.html'%}
{% block content %}
<div class="container col-12 col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <h2>Listado de usuarios.</h2>
            <hr>
            <table class="table table-striped table-hover table-responsive-sm">
                <tr>
                    <th>Nombre </th>
                    <th>Realizado</th>
                    <th></th>
                </tr>
                {% for p in users %}
                <tr>
                    <td>{{ p.username | title }}</td>
                    <!-- <td>{{ p.fechaCreacion | title }}</td> -->
                    <td>
                        <a href="{% url 'modificar_usuario_admin' p.id%}" class="btn btn-primary">Abrir</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</div>
{% endblock %}